.selectElement {
	border: 1px solid black;
	border-radius: 0.35rem;
	transition: border-color 0.3s;
	/* font-size: clamp(1.5rem, 1.7vw, 1.7rem); */
	font-size: 1.5rem;
}

.selectElement:focus {
	border-color: #007bff;
}
