.employeesContainer {
	display: flex;
	flex-direction: column;
	/* margin-top: 80px; */
	justify-content: center;
	align-items: center;
	/* color: #596521; */
	border-top: 2px solid #6c6753;
}

.titre {
	margin-top: 1rem;
	font-size: 1.75rem;
}

.tableContainer {
	/*display: flex;
	justify-content: center;
	align-items: center;*/
	width: 100%;
	overflow-x: auto;
	margin: 20px 0;
	/* margin-top: 59px; */
	/* text-align: left; */
}

@media screen and (max-width: 375px) {
	.employeesContainer {
		width: 114%;
	}
}
