.employeesContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-top: 2px solid #6c6753;
}

.titre {
	margin-top: 1rem;
	font-size: 1.75rem;
}

@media screen and (max-width: 375px) {
	.employeesContainer {
		width: 114%;
	}
}
