/* DateSelector.module.css */

.datePicker {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
}

.datePicker:focus {
	/* border-color: #66afe9; */
	border-color: #007bff;
	outline: none;
	box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
	/* box-shadow: 0 0 8px hsla(207, 52%, 48%, 0.6);; */
}

.datePickerError {
	border-color: red;
	box-shadow: 0 0 8px rgba(255, 0, 0, 0.6);
}
