.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-block: 0.5rem;
	font-size: 1.2rem;
	color: white;
	background-color: rgb(59, 180, 76);
	width: 100%;
	overflow: hidden;
}
