.container {
	background-color: #f1f1f1;
	min-height: calc(100vh - 10rem);
	padding-bottom: 100px;
	border-top: 2px solid #6c6753;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-block: 0.5rem;
	background-color: #93ad18;
	width: 100%;
	overflow: hidden;
	height: 70px;
}
.title h1 {
	font-size: 3rem;
	color: black;
}

@media screen and (max-width: 500px) {
	.title h1 {
		font-size: 2.4rem;
	}
}

@media screen and (max-width: 325px) {
	.container {
		width: 114%;
	}
}
