header img {
	height: 50px;
}

.navbar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: #fff;
}

.navbarLogo a {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.navbarLogo a img {
	max-width: 60px;
	height: 100%;
}

.navbarLogo a h1 {
	font-size: 2.2rem;
	font-weight: 900;
	color: rgb(27, 36, 24);
}

.navbarToggle a span {
	color: rgb(27, 36, 24);
	font-size: 2.2rem;
	font-weight: 900;
}

.navbarToggle a:hover span {
	color: #73832c;
}

@media screen and (max-width: 500px) {
	.navbarLogo a img {
		max-width: 30px;
	}

	.navbarLogo a h1 {
		font-size: 1.5rem;
		font-weight: 600;
		color: rgb(27, 36, 24);
	}

	.navbarToggle a span {
		font-size: 1.5rem;
	}
	.navbarToggle a img {
		width: 20%;
	}
}

@media screen and (max-width: 374px) {
	.navbarLogo a img {
		max-width: 25px;
	}
}

@media screen and (max-width: 325px) {
	.navbar {
		padding: 3rem 2rem;
		width: 114%;
	}
}
