/* Navbar.module.css */

/*
.navbar {
	display: flex;
	justify-content: space-between;
	padding: 2rem 4rem;
	
}



@media only screen and (max-width: 870px) {
	.navbarLogo {
		margin-left: 0px;
	}
}

.navbarLogo a {
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 1rem;
	font-weight: 700;
	font-size: clamp(1.8rem, 2vw, 2rem);
}

.navbarLogo a img {
	max-width: 60px;
	height: 100%;
}

.navbarLogo a h1 {
	font-size: clamp(2rem, 2.2vw, 2.2rem);
	font-weight: 900;
	color: rgb(27, 36, 24);
}

.navbarToggle {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 20px;
	gap: 50px;
}

@media only screen and (max-width: 870px) {
	.navbarToggle {
		gap: 30px;
		margin-right: 0px;
		
	}
}

.navbarToggle a {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	font-weight: 700;
	
}


.navbarToggle a img {
	width: 100%;
}

.navbarToggle a span {

	color: rgb(27, 36, 24);
	font-size: clamp(2rem, 2.2vw, 2.2rem);
}

.navbarToggle a:hover span {

	color: #73832c;
	font-weight: 900;
}

.navbarToggle a .iconHome,
a .iconUser {
	color: rgb(27, 36, 24);
	font-size: 20px;
}

@media only screen and (max-width: 500px) {
	.navbarToggle a img {
		width: 20%;
	}
}



@media screen and (max-width: 500px) {

	.navbar {
		padding: 2rem 3rem;
	}
	.navbarLogo a {
		gap: 0.5rem;
	}
	

	.navbarLogo a img {
		max-width: 30px;
	}

	.navbarLogo a h1 {
		font-size: 17px;
		font-weight: 600;
		color: rgb(27, 36, 24);
	}

	.navbarToggle a span {
		font-size: 15px;
	}
		.navbarToggle a img {
		width: 20%;
	}
}



@media screen and (max-width: 374px) {
	.navbarLogo a img {
		max-width: 25px;
	}
	
}

@media screen and (max-width: 325px) {
	.navbar {
		padding: 3rem 2rem;
		width: 114%;
	}
}*/

/*header {
	width: 100%;
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}*/

header img {
	height: 50px;
}

.navbar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: #fff;
	/* border-bottom: 2px solid #6c6753; */
}

.navbarLogo a {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.navbarLogo a img {
	max-width: 60px;
	height: 100%;
}

.navbarLogo a h1 {
	font-size: 2.2rem;
	font-weight: 900;
	color: rgb(27, 36, 24);
}

.navbarToggle a span {
	color: rgb(27, 36, 24);
	font-size: 2.2rem;
	font-weight: 900;
}

.navbarToggle a:hover span {
	color: #73832c;
}

/*@media screen and (max-width: 768px) {
	.navbar {
		flex-direction: column;
		text-align: center;
	}

	header img {
		margin-bottom: 10px;
	}
}*/

@media screen and (max-width: 500px) {
	/*.navbar {
		padding: 2rem 3rem;
	}*/
	/*.navbarLogo a {
		gap: 0.5rem;
	}*/

	/*.navbar {
		font-size: 10px;
	}*/
	.navbarLogo a img {
		max-width: 30px;
	}

	.navbarLogo a h1 {
		font-size: 1.5rem;
		font-weight: 600;
		color: rgb(27, 36, 24);
	}

	.navbarToggle a span {
		font-size: 1.5rem;
	}
	.navbarToggle a img {
		width: 20%;
	}
}

@media screen and (max-width: 374px) {
	.navbarLogo a img {
		max-width: 25px;
	}
}

@media screen and (max-width: 325px) {
	.navbar {
		padding: 3rem 2rem;
		width: 114%;
	}
}
