.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 2px solid #6c6753;
	padding: 1.4rem 1.6rem;
}

.copyright {
	font-size: 1.5rem;
	font-weight: 600;
	color: rgb(60, 56, 56);
}
.footerList {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.footerListLi {
	margin-top: 0.5rem;
}

.footerListLi a {
	color: #534e4e;
	font-size: 1.5rem;
	font-weight: 600;
	text-decoration: none;
}

@media screen and (max-width: 500px) {
	.footer {
		flex-direction: column;

		gap: 0.65rem;
	}

	.footerListLi {
		margin-top: 0.13rem;
	}

	.footerListLi a {
		font-size: 1.2rem;
	}

	.copyright {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 325px) {
	.footer {
		width: 114%;
	}
}
