.sectionForm {
	border-radius: 10px;
	box-shadow: 5px 2px 20px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	margin-left: 27px;
	margin-right: 27px;
	margin-bottom: 50px;
	margin-top: 79px;
	/* margin: 1.688rem 1.688rem 3.125rem 4.938rem; */
}

.formLeft {
	align-items: center;
	background-color: #73832c;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	max-height: 900px;
}

.formLeft img {
	max-width: 100%;
	height: auto;
}

.formLeft p {
	color: black;
	padding: 10px;
	/* font-size: clamp(1.8rem, 2vw, 2rem); */
	font-size: 1.8rem;
}

.formRight {
	display: flex;
	flex-direction: column;
	padding: 20px;
	/* padding: 1.25rem; */
	width: 50%;
	max-height: 900px;
}

.formContainer {
	display: flex;
	justify-content: center;
	padding: 2rem;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	width: 100%;
	max-width: 80rem;
}

.form fieldset {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
	position: relative;
	border: none;
	padding: 0;
	margin: 0;
}

.formLegend {
	/* font-size: clamp(1.8rem, 2vw, 2rem); */
	font-size: 1.8rem;
	font-weight: 600;
	margin-bottom: 1.6rem;
	width: 100%;
	display: flex;
	align-items: baseline;
}

.formGroup {
	display: flex;
	gap: 2rem;
	width: 100%;
}

.formGroupControl {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}

form .dropdown {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}

label {
	display: flex;
	gap: 0.5rem;
	/* font-size: clamp(1.5rem, 1.7vw, 1.7rem); */
	font-size: 1.5rem;
}

.title {
	/* font-size: clamp(2.5rem, 2.8vw, 2.8rem); */
	font-size: 2.5rem;
	font-weight: 900;
	margin-bottom: 10px;
	margin-top: 20px;
	/*margin-bottom: 0.625rem;
	margin-top: 1.25rem;*/
}

.horizontalBar {
	margin-left: 0.4rem;
	height: 0.5rem;
	background: linear-gradient(to right, #4d5540, #bfd3d5);
	width: 100%;
}

.formGroupControl input {
	width: 100%;
	height: 4rem;
	padding: 5px 5px;
	/* padding: 0.31rem 0.31rem; */
	border: 1.75px solid #000;
	/* font-size: clamp(1.5rem, 1.7vw, 1.7rem); */
	font-size: 1.5rem;
	border-radius: 0.5rem;
	transition: border-color 0.5s;
}

.formGroupControl input:focus {
	border-color: #007bff;
	/* border-color: #157846; */
	outline: none;
	box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

.address {
	margin-top: 10px;
	/* margin-top: 0.625px; */
}

.dropdownDept {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}

.dropdownDept::before {
	content: "";
	position: absolute;
	bottom: 80px;
	left: 114px;
	width: 60%;
	height: 1.3px;
	background-color: #625e4c;
}

.submitBtn {
	cursor: pointer;
	display: block;
	margin-top: 2rem;
	width: 40%;
	margin-inline: auto;
	background-color: #93ad18;

	color: black;
	height: 4rem;
	border-radius: 0.5rem;
	border: none;
	font-size: 1.8rem;
	/* font-size: clamp(1.8rem, 2vw, 2rem); */
	/* font-size: clamp(1rem, 1.3vw, 1.3rem); */
	font-weight: 600;
}

.submitBtn:hover {
	background-color: #73832c;
}

.form .error {
	color: #d41f4a;
	/* font-weight: 600; */
	/* font-size: clamp(1.6rem, 1.6vw, 1.6rem); */
	/* font-size: clamp(1rem, 1.3vw, 1.3rem); */
	font-size: 1rem;
}

/* Media queries */

@media screen and (max-width: 1024px) {
	.dropdownDept::before {
		left: 90px;
	}
	.formLeft img {
		width: 90%;
	}
}

@media screen and (max-width: 790px) {
	.formGroup {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.formLeft {
		display: none;
	}
	.formRight {
		width: 100%;
		max-height: 1180px;
	}
	.dropdownDept::before {
		left: 120px;
	}
}

@media screen and (max-width: 500px) {
	.formContainer {
		padding: 2rem 1rem;
	}
	.dropdownDept::before {
		left: 43px;
		width: 70%;
	}
}
