@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	/* max-width: 1280px; */
	max-width: 1440px;
	margin: 0 auto;
	/* padding: 2rem; */
	text-align: center;
	height: 100%;
}
* {
	font-family: copperplate, "Roboto", "Arial";
}

body {
	height: 100vh;
	width: 100%;
}

html {
	font-size: 62.5%;
}

header {
	width: 100%;
	font-size: 12px;
}

.react-datepicker-popper {
	margin: -32px -5px;
}

.react-datepicker {
	font-size: 1.2rem;
	font-weight: 600;
}

.react-datepicker__header {
	background: linear-gradient(to right, #4d5540, #bfd3d5);
	border-bottom: 1.5px solid #73832c;
}

.react-datepicker__header button {
	width: 20px;
	border: 1px solid;
}

.react-datepicker__header select {
	width: 50%;
}
