@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	/* max-width: 1280px; */
	/* padding: 2rem; */
	max-width: 1440px;
	width: 100%;
	/*margin: 0 auto;

	text-align: center;
	height: 100%;*/

	/*max-width: 1200px;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;*/
}
* {
	font-family: copperplate, "Roboto", "Arial";
}

body {
	/*height: 100vh;
	width: 100%;*/

	/* background-color: #f4f4f4; */
	/* color: #333; */
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	line-height: 1.6;
}

html {
	font-size: 62.5%;
}

header {
	width: 100%;
	/* font-size: 12px; */
}

a {
	text-decoration: none;
}
.react-datepicker-popper {
	margin: -32px -5px;
}

.react-datepicker {
	font-size: 1.2rem;
	font-weight: 600;
}

.react-datepicker__header {
	background: linear-gradient(to right, #4d5540, #bfd3d5);
	border-bottom: 1.5px solid #73832c;
}

.react-datepicker__header button {
	width: 20px;
	border: 1px solid;
}

.react-datepicker__header select {
	width: 50%;
}

/*@media screen and (max-width: 500px) {
	header {
		width: 147%;
	}
}

@media screen and (max-width: 375px) {
	header {
		width: 165%;
	}
}
*/
